@media (width <= 600px) {   

    .home-links-container {
        padding-left: 2em;
        padding-right: 1em;
        font-size: 0.9em;
    }

    .home-hero {
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-heading {
        font-size: 2.5em;
    }

    .home-hero > * {
        width: 100%;
        margin: 0;
    }

    .button.home-cta-btn {
        display: inline-block;
        padding: 0.5em 1em;
        font-size: 0.9em;
    }

    .button.home-cta-btn2 {
        align-self: center;
        padding: 1em;
        font-size: 0.9em;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-cards-container > * {
        width: 100%;
    }

    .home-features {
        height: auto;
        padding-bottom: 4em;
    }

    .home-cards-container img {
        width: 80%;
        height: auto;
        aspect-ratio: 1.44/1;
    }

    .home-stats {
        display: flex;
        flex-direction: column;
    }

    .home-cards-container .Card-Text {
        font-size: 0.9em;
    }
}