@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

html {
    font: 16px/1.5 Inter, sans-serif;
}

p {
    padding-bottom: 1.5em;
}

a.btn, a.header-btn {
    border-radius: 0.3em;
}

a.btn {
    
    font-size: 0.8em;
    padding: 1em 2em;
}

a.btn-black {
    background-color: black;
    color: white
}

a.btn-white {
    background-color: white;
    color: black;
}


a:hover {
    text-decoration: underline;
}
