.card {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 0.3em;

    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0.2em gray;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.card footer {
    padding: 1em;
    border-top: 1px solid grey;
}

.card section {
    flex: 1 0 auto;
    padding: 1em;
    width: 100%;
}

 