main{
    /* margin: 0 auto; */
    width: 400px;
    background: #dddddd;
    border: 1px solid black;
    margin-left: 20px;
    padding: 10px;
}

p{
    font-size: 18px;
}

h1{
    text-align: center;
}
