* {
  box-sizing: border-box;
  
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  margin-bottom: 1em;
}

body {
  font: 16px/1.2 "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: 0 auto;
  background-color: #f2f1f1;
}

body header,
body nav,
body footer {
  width: 100%;
}

aside, main {
  padding: 1em;
}

aside {
  flex: 1 1 30%;
  background-color: #e4e3e3;
}

main {
  flex: 1 2 70%;
  background-color: white;
}

header {
  background-color: #00ab83;
  color: whitesmoke;
  text-align: center;
  padding: 4em 1em;
}

footer {
  background-color: #ccc;
  padding: 2em 1em;
  text-align: center;
}

nav {
  display: flex;
  gap: 1em;
  background-color: rgb(62, 62, 62);
}

p {
  padding-bottom: 1.2em;
}

nav a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em 1em;
}

@media (max-width: 700px) {
  nav {
    display: block;
    text-align: center;
  }

  aside, main {
    flex: 0 0 100%;
  }
}
