
.site-stats .stat:not(:nth-of-type(2)) {
    border-left: 2px solid #DBDBDB;
    border-right: 2px solid #DBDBDB;
}

.site-stats .stat {
    flex-basis: 25%;
}

.stat {
    h2 {
        font-size: 2.5em;
        font-weight: 600;
    }

    p {
        padding: 1em 0 4em 0;
    }
}