@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: Montserrat, sans-serif;
    padding: 16px;
}

th {
    background-color: lightblue;
}

th,
td {
    border: 1px solid #ccc;
    padding-left: 5px;
    width: 144px;
    height: 32px;
}

tr:nth-child(even) {
    background-color: #f1f0f0;
    opacity: 0.7;
}

tr:hover {
    background-color: yellow;
    cursor: cell;
    color: red;
}